{% extends '/_layouts/base' %}

{% block content %}

<!--            -->
<!--   Header   -->
<!--            -->

{% set image = entry.heroImage.one() %}
<header class="page-header" style="background-image:url('{{ image.url }}')">
    <div class="header-container">
        <h1 class="page-title">
            {{ entry.projectTitle }}
        </h1>
        {% if entry.heroVideo.one() %}
            <video loop muted autoplay class="hero-video">
                <source src="{{ entry.heroVideo.one().url }}" type="video/mp4">
            </video>
        {% endif %}
    </div>
</header>

<!--            -->
<!--    Body    -->
<!--            -->

<section class="page-section">
    <div class="section-grid">
        <h3 class="page-label glass">Work Summary</h3>
        <h3 class="page-kicker">{{ entry.projectKicker }}</h3>
        <div class="page-info">
            <h3>{{ entry.projectRole }}
                <br>
                <span class="glass">{{ entry.projectYear }}</span>
            </h3>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="section-container">
        <p>{{ entry.projectBody | nl2br  }}</p>
        {% if entry.projectThanks %}
            <h3 class="glass">Special Thanks</h3>
            <h3>{{ entry.projectThanks }}</h3>
        {% endif %}
        {% if entry.projectAwards %}
            <h3 class="glass">Awards</h3>
            <h3>{{ entry.projectAwards }}</h3>
        {% endif %}
        <hr class="glass">
    </div>
    {% if entry.linksTable | length %}
    <div class="section-grid">
        <h3 class="glass page-label">Project Links</h3>
        {% for row in entry.linksTable %}
        <h3 class="page-content">
            {{ row.projectLinkTitle }} — 
            <a href="{{ row.projectLinkURL }}" target="_about">{{ row.projectLinkURL }}</a>
        </h3>
        {% endfor %}
    </div>
    {% endif %}
</section>

{% if entry.sliderImages.one() %}
<section class="slider">
    <div class="slider-container">
        <div class="slider-images siema">
            {% for asset in entry.sliderImages.all() %}
                <div class="slider-image" style="background-image:url('{{ asset.getUrl() }}')">
                </div>
            {% endfor %}
        </div>
        <div class="slider-controls">
            <div class="left arrow">
                <img src="/assets/ui/eb-arrow.svg">
            </div>
            <div class="right arrow">
                <img src="/assets/ui/eb-arrow.svg">
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if entry.caseStudyTitle %}
<section class="page-section case-study">
    <div class="section-container">
        <h3 class="glass">Case Study</h3>
        <h1>{{ entry.caseStudyTitle }}</h1>
        <p>{{ entry.caseStudyBody | nl2br }}</p>
        {% set image = entry.caseStudyImage.one() %}
        {% if image %}
            <img src="{{ image.url }}">
        {% endif %}
    </div>
    <div class="section-grid">
        <h3 class="page-label glass">Discovery</h3>
        <h3 class="page-content">{{ entry.discovery | nl2br }}</h3>

        <h3 class="page-label glass">Research</h3>
        <h3 class="page-content">{{ entry.research | nl2br }}</h3>

        <h3 class="page-label glass">Prototyping</h3>
        <h3 class="page-content">{{ entry.prototyping | nl2br }}</h3>

        <h3 class="page-label glass">Development</h3>
        <h3 class="page-content">{{ entry.development | nl2br }}</h3>

        <h3 class="page-label glass">Iteration</h3>
        <h3 class="page-content">{{ entry.iteration | nl2br }}</h3>
    </div>
</section>
<section class="page-section" >
    <div class="reel">
        {% if entry.reelVideo.one() %}
            <video loop muted autoplay controls class="reel-video">
                <source src="{{ entry.reelVideo.one().url }}" type="video/mp4">
            </video>        
        {% endif %}
    </div>
</section>
{% endif %}

{% set params = {
    section: 'project',
    order:   'title'
} %}

{% set nextEntry = entry.getNext(params) %}
{% set oneEntry = craft.entries.section('project').one %}

{% if nextEntry %}
    {% set image = nextEntry.projectThumbnail.one() %}
    <section class="end-card">
        <a href="{{ nextEntry.url }}">
            <div class="card-image" style="background-image:url('{{ image.url }}')"></div>
        </a>
        <div class="card-description">
            <a href="{{ nextEntry.url }}">
                <div class="card-info">
                    <h3>Next Up</h3>
                    <h1>{{ nextEntry.projectTitle }}</h1>
                    <h3>{{ nextEntry.projectKicker }}</h3>
                    <h3 class="end-link glass">View Project</h3>
                </div>
            </a>
        </div>
    </section>
{% else %}
    {% set image = oneEntry.projectThumbnail.one() %}
    <section class="end-card">
        <a href="{{ oneEntry.url }}">
            <div class="card-image" style="background-image:url('{{ image.url }}')"></div>
        </a>
        <div class="card-description">
            <a href="{{ oneEntry.url }}">
                <div class="card-info">
                    <h3>Next up</h3>
                    <h1>{{ oneEntry.projectTitle }}</h1>
                    <h3>{{ oneEntry.projectKicker }}</h3>
                    <h3 class="end-link glass">View Project</h3>
                </div>
            </a>
        </div>
    </section>
{% endif %}

<script src="/assets/scripts/siema.min.js"></script>
<script>
    const mySiema = new Siema();
    document.querySelector('.left').addEventListener('click', () => mySiema.prev());
    document.querySelector('.right').addEventListener('click', () => mySiema.next());

    // listen for keydown event
    document.addEventListener('keydown', (e) => {
      // if it's left arrow key
      if (e.keyCode === 37) {
        mySiema.prev()
      }
      // if it's right arrow key
      else if (e.keyCode === 39) {
        mySiema.next()
      }
    });
</script>

{% endblock %}
